

.boite-de-reception {
  display: inline-block;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid {
  margin-right: 0px;
  margin-left: 0px;
}

.boutons-email {
  justify-content: center;
  margin-top: 10px;
}

.bouton-email {
  margin-left: 5px;
  margin-right: 5px;
}

