<thead>
  <tr class="bg-primary text-white text-center">
    <th scope="col"><%= email.object %></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= email.body %></td>
  </tr>
  <div class="row boutons-email">
    <%= link_to "Supprimer", root_path, :class => "btn btn-primary bouton-email" %>
    <%= link_to "Marquer comme non lu", root_path, :class => "btn btn-primary bouton-email" %>
  </div>
</tbody>