<thead>
  <tr class="bg-primary text-white text-center">
    <th scope="col"><%= email.object %></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= email.body %></td>
  </tr>
  <div class="row boutons-email">
    <%= link_to "Supprimer", email_path(email), :method => :delete, :class => "btn btn-primary bouton-email", remote: true %>
    <%= link_to "Marquer comme non lu", email_path(email), :method => :put, :class => "btn btn-outline-primary bouton-email", remote: true %>

  </div>
</tbody>