<div class="container-fluid">
  <div class="container-fluid row">
    <h1 class="mr-auto">Boîte de réception</h1>
    <%= link_to "Recevoir un email", emails_path, :method => :post, :class => "btn btn-primary", :style => "height: 33px; align-self: center", remote: true %>
  </div><br/>
  <div class = "row">
    <div class="col-5">
      <table class="table table-striped">
        <thead>
          <tr class="bg-primary text-white text-center">
            <th scope="col">#</th>
            <th scope="col" class="col-4">Emails reçus</th>
          </tr>
        </thead>
        <tbody  id="email">
          <% @emails.each do |email|  %>
            <%= render 'email', email: email%>
          <%end%>
        </tbody>
      </table>
    </div>

    <div class="col-7">
      <table class="table table-striped">
        <thead>
          <tr class="bg-primary text-white text-center">
            <th scope="col">Objet de l'email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Contenu de l'email</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>